<%- include("../includes/head.ejs") %>
</head>

<%- include('../includes/nav.ejs') %>
<main>
<% errorMessages.forEach(message => {%> 
    <p class="alert alert--danger"><%=message%></p>   
<%})%>
<h1 class="main-heading">Request a password reset email</h1>
<form action="/auth/postNewPassword" method="POST">
  <div class="form-control">
      <label for="password">Password</label>
      <input type="password" name="password" id="password">
  </div>
  <div class="form-control">
      <label for="confirmPassword">Confirm Password</label>
      <input type="password" name="confirmPassword" id="confirmPassword">
  </div>

  <input type="hidden" name="userId" id="userId" value="<%= userId%>"/>
  <input type="hidden" name="passwordToken" id="passwordToken" value="<%= passwordToken%>"/>
  <input type="hidden" name="_csrf"  value="<%=csrfToken%>"/>
  <div class="form-control">
      <input type="submit" value="Reset password">
    </div>
</form>
</main>
<%- include('../includes/end.ejs') %>