<%- include("../includes/head.ejs") %>
</head>

<%- include('../includes/nav.ejs') %>
<main>
<% errorMessages.forEach(message => {%> 
    <p class="alert alert--danger"><%=message%></p>   
<%})%>
<h1 class="main-heading">Request a password reset email</h1>
<form action="/auth/reset/" method="POST">
  <div class="form-control">
      <label for="email">Email Address</label>
      <input type="text" name="email" id="email">
  </div>

  <input type="hidden" name="_csrf"  value="<%=csrfToken%>"/>
  <div class="form-control">
      <input type="submit" value="Reset password">
    </div>
</form>
</main>
<%- include('../includes/end.ejs') %>