<%- include("../includes/head.ejs") %>
</head>

<%- include('../includes/nav.ejs') %>
<main>
<h1 class="main-heading">Sign in</h1>
<% errorMessages.forEach(message => {%> 
    <p class="alert alert--danger"><%=message%></p>   
     <%})%>
<form action="/auth/signin/" method="POST">
  <div class="form-control">
      <label for="email">Email Address</label>
      <input 
      class="<%= validationErrors.find( e=> e.param === 'email') ? 'invalid' : '' %>"
      type="text" 
      name="email" 
      value="<%= oldValues.email%>"
      id="email"
      >
  </div>
  <div class="form-control">
      <label for="password">Password</label>
      <input 
      class="<%= validationErrors.find( e=> e.param === 'password') ? 'invalid' : '' %>"
      type="password" 
      name="password" 
      value="<%= oldValues.password%>"
      id="password">
  </div>
  <div class="form-control">
      <input type="submit" value="Sign in">
    </div>
    <input type="hidden" name="_csrf"  value="<%=csrfToken%>"/>
</form>
<p class="centered">
    <a href="/auth/reset">Reset password</a>
</p>
</main>
<%- include('../includes/end.ejs') %>