<%- include("../includes/head.ejs") %>
</head>

<%- include('../includes/nav.ejs') %>
<main>
<% errorMessages.forEach(message => {%> 
    <p class="alert alert--danger"><%=message%></p>   
<%})%>
<%= JSON.stringify(validationErrors)%>
<h1 class="main-heading">Create a new account</h1>
<form action="/auth/signup" method="POST">
  <div class="form-control">
      <label for="email">Email Address</label>
      <input 
      class="<%= validationErrors.find(e=> e.param === 'email') ? 'invalid' : ''%>"
      type="text" 
      name="email" 
      id="email" 
      value="<%= oldValues.email%>">
  </div>
  <div class="form-control">
      <label for="password">Password</label>
      <input 
      class="<%= validationErrors.find(e=> e.param === 'password' || e.param === 'confirmPassword') ? 'invalid' : ''%>"
      type="password" 
      name="password" 
      id="password" 
      value="<%= oldValues.password%>">
  </div>
  <div class="form-control">
      <label for="confirmPassword">Confirm Password</label>
      <input 
      class="<%= validationErrors.find(e=> e.param === 'password' || e.param === 'confirmPassword') ? 'invalid' : ''%>"
      type="password" 
      name="confirmPassword" 
      id="confirmPassword" 
      value="<%= oldValues.confirmPassword%>">
  </div>
  <input type="hidden" name="_csrf"  value="<%=csrfToken%>"/>
  <div class="form-control">
      <input type="submit" value="Create account">
    </div>
</form>
</main>
<%- include('../includes/end.ejs') %>