<%- include("../includes/head.ejs") %>
<%- include('../includes/nav.ejs') %>
<main>
  <h1>Add new product</h1>
   
    <% errorMessages.forEach(message => {%> 
      <p class="alert alert--danger"><%=message%></p>   
       <%})%>
  <form action='/admin/add-product' method='POST'>
    <div class="form-control">
      <label for="title">Product name:</label>
      <input 
      class="<%= validationErrors.find(e => e.param ==='title') ? 'invalid' : '' %>"
      value = "<%= oldValues.title %>"
      type='text' 
      name='title' 
      id='title' />
    </div>
    <div class="form-control">
      <label for="description">Description:</label>
      <input 
      class="<%= validationErrors.find(e => e.param ==='description') ? 'invalid' : '' %>"
      value = "<%= oldValues.description %>"
      type='text' 
      name='description' 
      id='description' />
    </div>
    <div class="form-control">
      <label for="price">Price:</label>
      <input 
      class="<%= validationErrors.find(e => e.param ==='price') ? 'invalid' : '' %>"
      value = "<%= oldValues.price %>"
      type='number' 
      name='price' 
      id='price' 
      step="0.01"/>
    </div>
    <div class="form-control">
      <label for="imageUrl">Image Url</label>
      <input 
      class="<%= validationErrors.find(e => e.param ==='imageUrl') ? 'invalid' : '' %>"
      value = "<%= oldValues.imageUrl %>"
      type='text' 
      name='imageUrl' 
      id='imageUrl' />
    </div>
    <div class="form-control">
      <button>Save</button>
    </div>
    <input type="hidden" name="_csrf"  value="<%=csrfToken%>"/>
  </form>
</main>
<%- include('../includes/end.ejs') %>