<%- include("../includes/head.ejs") %>
</head>

<%- include('../includes/nav.ejs') %>
<main>
  <article class="product-details">
    <h1>
      <%=product.title%>
    </h1>
    <hr />
    <picture>
      <img src="<%= product.imageUrl %>" alt="<%=product.title%>" />
    </picture>
    <h2><%=product.price%></h2>
    <p><%=product.description%></p>
    <% if (isAuthenticated) {%>
      <section class="card__actions">
          <%- include('../includes/add-t-cart.ejs') %>
        </section>  
    <%}%>
    
  </article>

</main>
<%- include('../includes/end.ejs') %>