<%- include("../includes/head.ejs") %>
</head>

<%- include('../includes/nav.ejs') %>
<main>
  <h1>cart</h1>
 
  <% if (cart.items && cart.items.length > 0) {%>
  <ol>
    <%for(let item of cart.items) {%>
    <li class="main-header__item-list shadow">
      <h2> <%=item.productId.title%></h2>
      <p class="item-quantity">
        Qunantity : <%=item.quantity %>
      </p>
     
      <section>
        <form action="/shop/remove-product-cart" method="POST">
          <input type="hidden" name="id" id="id" value="<%=item.productId._id%>">
          <button>
            Delete Item
          </button>
        </form>
      </section>
    </li>
    <%}%>
    </ol>
    <hr/>
    <form class="submit-order-container" action="/shop/create-order" method="POST">
      <button>Submit order</button>
    </form>
<%} else {%>
    <p>No product!</p>
    <%}%>
</main>
<%- include('../includes/end.ejs') %>