<%- include("../includes/head.ejs") %>
</head>

<%- include('../includes/nav.ejs') %>
<main>
 
 <h1>Orders</h1>
 <% if(data.length === 0) {%>
  <p>Empty order</p>
<%}else {%>
  <h1>Total orders: <%=data.length %></h1>
  <section>
    <h2>Welcome back <%= data.username%></h2>
     
    <p>All orders email will be sent to <%=data.email%></p>
  </section>
  <% data.forEach( items => {%> 
    <section class="order-list-item">
     <h2>
       Order #<%= items.orderId %>
       <a href="/admin/invoice/<%=items.orderId%>">Invoice</a>
      </h2>
     <ul>
     <% items.products.forEach( prod => {%> 
      <ii>
        <h3>Title:<%= prod.product.title %></h3>
        <p>
          Description:<%= prod.product.description %>
        </p>
        <p>
          Unit Price: <%= prod.product.price %>
        </p>
        <p>
          Qty: <%= prod.quantity %>
        </p>
      </ii>
      <%})%>
    </ul>
  </section>
    <%})%>
  <%}%>
</main>
<%- include('../includes/end.ejs') %>




